@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao MasterProduct!</h1>
    <h4 class="display-6">O seu sistema de gerenciamento de produtos</h4>
  
</div>
